body {
  background-color: rgb(119, 207, 101);
}
*:focus {
  outline: none;
}
.hey {
  text-align: center;
}
.hey2 {
  text-align: center;
}
.container {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}
.button {
  margin: 6px;
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.button:hover {
  background-color: #5cbf2a;
}
.button:active {
  position: relative;
  top: 1px;
}
.container {
  font-size: larger;
  text-align: center;
}
.scroll {
  position: fixed;
  top: 25px;
  right: 0%;
  margin: 6px;
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.button2:hover {
  background-color: #5cbf2a;
}
.button2:active {
  position: relative;
  top: 1px;
}
.scroll:hover {
  background-color: #5cbf2a;
}

.left {
  position: absolute;
  left: 0%;
  margin: 6px;
  width: 15vw;
  height: 15vw;
}
.heyalle {
  display: flex;
  justify-content: center;
}

.button3 {
  margin: 6px;
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.button3:hover {
  background-color: #5cbf2a;
}
.button3:active {
  position: relative;
  top: 1px;
}

.slidecontainer {
  position: fixed;
  right: 0%;
  top: 25px;
  margin: 6px;
  text-shadow: 0px 1px 0px #2f6627;
  color: #dddddd;
  font-family: Arial;
  font-size: 17px;
  margin-top: 70px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  direction: rtl;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
.loginInfo{
  top: 0%;
  position: fixed;
  right: 0%;
  margin-right: 6px;
  padding-right: 31px;
  color: #ffffff;
  font-family: Arial;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-top: 9px;
  cursor:default;
}
